<!DOCTYPE html>
<html>
<head>
  
  <title>ToyApp</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>
  <body>
    <p>
      
    <ul>
        
    <li><%= link_to "toy_app Users", '/users', id: "logo1", class: "btn btn-default" %></li>
    <li><%= link_to "toy_app Microposts", '/microposts', id: "logo2", class: "btn btn-default" %></li>
    <li><%= link_to "Home", '/static_pages/home', id: "logo3", class: "btn btn-default" %></li>
    <li><%= link_to "Help", '/static_pages/help', id: "logo4", class: "btn btn-default" %></li> 
    <li><%= link_to "About", '/static_pages/about', id: "logo5", class: "btn btn-default" %></li>
    </ul>    
    </p>
    <p>
    <div class="container">
    <%= yield %>  
    </div>  
    </p>  
    </body>
    </html>  
    
        
        
        
      
      
      
      
      
    



